.addressCard {
  padding: 1.5rem 3rem;
  border: 0.1rem solid var(--light-grey);
  border-radius: 0.8rem;
  position: relative;
}

.edit {
  position: absolute;
  right: 1.2rem;
  top: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}

.addressType {
  font-size: 2rem;
  font-weight: 700;
}

.addressAddress {
  margin-top: 1.7rem;
  font-size: 1.7rem;
}

.addressSub span {
  margin-top: 1rem;
  font-size: 1.7rem;
  font-weight: 600;
  margin-right: 0.7rem;
}

.addressSub {
  margin-top: 1rem;
  font-size: 1.5rem;
}
