.breadcrumbs{
    margin: 2rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.breadcrumb{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--black);
}

.breadcrumbImage{
    color: var(--black);
}

.breadcrumb:last-child{
    font-weight: 800;
}