.orangeButton{
    height: 100%;
    margin: .7rem 0;
    padding: 1rem 5rem;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--orange);
    border-radius: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orangeButton.disabled{
    opacity: .5;
    cursor: not-allowed;
}