.cartProduct {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2rem 0;
  position: relative;
}

.cartProductImage {
  position: relative;
  height: 12rem;
  width: 12rem;
}

.cartProductDetails {
  margin-left: -5rem;
  padding: 1rem 0;
}

.cartProductName {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.cartProductMrp {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.cartProductPrice {
  font-size: 1.5rem;
}

.cartProductQty{
    font-size: 2rem;
}

.cartProductCta{
    border: .1rem solid var(--light-grey);
    border-radius: 100%;
}

.cartProductSubtotal {
  padding: 1rem 0;
  font-size: 1.7rem;
  font-weight: 600;
}

.cartProductDelCta{
  position: absolute !important;
  right: -5%;
  bottom: 8%;
}