.cartDrawerContent {
  min-width: 55rem;
  height: 100%;
  position: relative;
}

.cartDrawerHeading {
  height: 8rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  font-size: 2.5rem;
  color: var(--black);
  border-bottom: 0.2rem solid var(--light-grey);
}

.line {
  width: 100%;
  height: 0.1rem;
  background-color: var(--light-grey);
}

.cartDrawerFooter {
  background-color: var(--white);
  z-index: 10;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  padding: 2rem 3.5rem;
  height: 23%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-top: 0.2rem solid var(--light-grey);
}

.cartSubtotalWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartSubtotalHeading {
  font-size: 2rem;
}

.cartSubtotal {
  font-size: 2.2rem;
  font-weight: 700;
}

.cartInfo {
  color: var(--light-grey);
}

.cartList {
  padding: 2rem 3.5rem;
  height: 69%;
  overflow-y: scroll;
  overflow-y: auto;
}

.cartEmpty {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cartEmptyHeading{
  font-size: 2rem;
  font-weight: 700;
}

.cartEmptyInfo{
  font-size: 1.5rem;
  color: var(--light-grey);
}

.close {
  position: relative;
  height: 0.5rem;
  width: 2.5rem;
  padding: 0 1rem;
  background-color: transparent;
  cursor: pointer;
}

.close::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  background-color: var(--black);
  top: 0;
  transform: rotate(45deg);
  left: 0;
}

.close::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  background-color: var(--black);
  top: 0;
  left: 0;
  transform: rotate(-45deg);
}
