.productGridTitle{
    font-size: 3rem;
    margin-bottom: 3rem;
}

.productGridContainer{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    justify-items: center;
}
