.optionsContainer {
  border: 0.1rem solid var(--light-grey);
  border-radius: 0.8rem;
}

.optionItem {
  padding: 2rem 3rem;
  display: flex;
  cursor: pointer;
}

.topRounded{
  border-radius: .8rem .8rem 0 0;
}

.bottomRounded{
  border-radius: 0 0 .8rem .8rem;
}

.selected {
  background-color: rgba(96, 96, 96, .4);
  font-weight: 700;
}

.optionItemIcon {
    margin-right: 2.5rem;
}

.optionItemTitle {
    font-size: 1.8rem;
}

.optionItemLine {
  width: 100%;
  height: 0.1rem;
  background-color: var(--light-grey);
  margin: auto;
}
