.productGridTitle{
    font-size: 3rem;
    margin-bottom: 3rem;
}

.productGridContainer{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3rem;
}

.h2{
    grid-row: span 2;
}

.w2{
    grid-column: span 2;
}