.deliveryDayBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.6rem 3.3rem;
    border-radius: 1rem;
    background-color: var(--white);
    margin: 0 2rem;
    cursor: pointer;
    transition: all .2s ease;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.deliveryDayBox.selected, .deliveryDayBox:hover{
    background-color: var(--orange);
    color: var(--white);
    transform: translateY(-1%);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}