.footer {
  background-color: var(--white);
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topFooter {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.topFooterCol {
  flex: 1.5;
  display: flex;
  flex-direction: column;
}

.topFooterCol:not(:nth-child(1)){
  padding-left: 10rem;
  flex: 1;
}

.footerAbout {
  margin-top: 2rem;
  font-size: 1.3rem;
  width: 60%;
  color: var(--footer-text);
}

.footerSocialIconsBox{
  display: flex;
  margin-top: 2rem;
  justify-content: flex-start;
  align-items: center;
}

.footerSocialIcon{
  margin-right: 1rem;
}

.topFooterColHeading {
  font-size: 1.7rem;
  color: var(--black);
  font-weight: 700;
  margin-top: 1rem;
}

.topFooterColList {
  margin-top: 2rem;
  margin-left: 1rem;
  font-size: 1.2rem;
  color: var(--footer-text);
}

.topFooterColListItem {
  padding: 0.1rem 1rem;
  margin: 0.5rem 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.topFooterColListItem:hover {
  color: var(--black);
  text-decoration: underline;
}

.subscribe {
  margin-top: 2rem;
  width: 29rem;
  height: 4rem;
  border-radius: 1rem;
  outline: none;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  background-color: transparent;
  border: 1px solid var(--light-grey);
}

.line{
  width: 100%;
  height: 1px;
  background-color: var(--light-grey);
}

.bottomFooter{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paymentMethods{
  display: flex;
}

.paymentMethodsIcon{
  margin: 0 1rem;
}

.bottomFooterCopyright{
  font-size: 1.4rem;
}