.loginForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 60rem;
    padding: 4rem 0;
}

.formTitle{
    font-size: 3rem;
}

.formSubtitle{
    margin-top: .4rem;
    font-size: 1.3rem;
}

.formSubtitle span{
    color: var(--orange);
    cursor: pointer;
}

.forgotPassword{
    margin-top: 1.4rem;
    font-size: 1.1rem;
    margin-left: .3rem;
    margin-bottom: .2rem;
    cursor: pointer;
}