@tailwind base;
@tailwind components;
@tailwind utilities;

/* Poppins and Roboto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  /* fonts */
  --poppins: 'Poppins', sans-serif;
  --roboto: 'Roboto', sans-serif;

  /* colors */
  --black: #000;
  --white: #ffffff;
  --orange: #f9884b;
  --light-grey: #9c9c9c;
  --footer-text: #595959;
  --default-background: #eee;

  /* typography */
  --fs-xl: ;
  --fs-lg: ;
  --fs-md: ;
  --fs-sm: ;
  --fs-xs: ;

  /* padding */
  --container-padding: 0 5rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--default-background);
  font-size: 62.5%;
  font-family: var(--poppins);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 5rem;
  max-width: 150rem;
}

/* Image Slider */
.sliderDots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.sliderDots li {
  height: 1.3rem;
  width: 1.3rem;
  border: 1px solid var(--white);
  border-radius: 100%;
  margin: 0 1rem;
  font-size: 0rem;
  transition: all 0.4s ease;
}

.sliderDots .slick-active {
  background-color: var(--white);
}

/* MATERIAL UI INPUTS */
.MuiFormControl-root .MuiFormLabel-colorPrimary {
  font-size: 1.4rem !important;
}

.MuiFormControl-root .MuiFormLabel-colorPrimary.Mui-focused,
.MuiFormControl-root .MuiFormLabel-colorPrimary.MuiFormLabel-filled {
  font-size: 1.15rem !important;
}

.MuiFormControl-root input {
  font-size: 1.4rem !important;
}

/* MATERIAL UI PAPER */
.MuiPaper-root {
  box-shadow: none !important;
  margin: 0 !important;
}

/* MATERIAL UI ACCORDIAN */
.MuiAccordionSummary-root {
  min-height: 0 !important;
  margin: 0 !important;
}

.MuiAccordionSummary-root .MuiAccordionSummary-content {
  margin: 0 !important;
}

.MuiAccordionDetails-root {
  padding: 1.6rem 1.6rem 0.8rem !important;
}

/* MATERIAL UI TABS */
.MuiTab-root {
  font-size: 1.5rem !important;
}

.MuiTab-root.Mui-selected {
  color: var(--orange) !important;
}

.MuiTabs-indicator {
  background-color: var(--orange) !important;
}

/* MATERIAL ICON STEPPER */
.MuiStepIcon-root{
  font-size: 4rem !important;
  color: var(--orange) !important;
}

.MuiStepLabel-label{
  font-size: 2.5rem !important;
  margin-left: 1rem !important ;
}

.Mui-active{
  font-weight: 700 !important;
}