.header {
  height: 8rem;
  width: 100%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 2rem rgba(0, 0, 0, 0.4);
}

.headerWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger {
  position: relative;
  height: 0.5rem;
  width: 3.5rem;
  border-radius: 1rem;
  margin-right: 1rem;
  background-color: var(--black);
  cursor: pointer;
}

.hamburger::before {
  position: absolute;
  content: '';
  width: 75%;
  height: 100%;
  border-radius: 1rem;
  background-color: var(--black);
  top: 0.9rem;
  left: 0;
}

.hamburger::after {
  position: absolute;
  content: '';
  width: 50%;
  height: 100%;
  border-radius: 1rem;
  background-color: var(--black);
  top: -0.9rem;
  left: 0;
}

.headerLogo {
  object-fit: fill;
  width: auto;
  height: auto;
  cursor: pointer;
}

.searchBar {
  width: 55rem;
  height: 5rem;
  border-radius: 1rem;
  outline: none;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  background-color: var(--default-background);
}

.rightHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shoppingBag {
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.shoppingBagItems {
  position: absolute;
  left: 1.8rem;
  top: 0;
  width: 2rem;
  height: 2rem;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 1rem;
  border-radius: 100%;
  background-color: var(--orange);
}

.shoppingBagText {
  margin-left: 1rem;
  font-size: 1.7rem;
}

.account {
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.accountText {
  margin-left: 1rem;
  font-size: 1.7rem;
}
