.leftArrow,.rightArrow{
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-color: var(--orange);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--white);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 1);
}

.leftArrow{
    left: 1rem;
}

.rightArrow{
    right: 1rem;
}