.menuDrawerContent {
  min-width: 40rem;
  height: 100%;
  position: relative;
}

.menuDrawerHeading {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  color: var(--black);
  border-bottom: 0.2rem solid var(--light-grey);
}

.headerLogo {
  object-fit: fill;
  width: auto;
  height: auto;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 0.1rem;
  background-color: var(--light-grey);
}

.menuDrawerFooter {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  padding: 0 2rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.2rem solid var(--light-grey);
}

.menuDrawerIcon {
  margin-right: 1rem;
}

.menuList {
  padding: 2.5rem;
}

.menuItem {
  font-size: 1.5rem !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.menuSubItem {
  font-size: 1.1rem !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.close {
  position: relative;
  height: 0.5rem;
  width: 2.5rem;
  padding: 0 1rem;
  background-color: transparent;
  cursor: pointer;
}

.close::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  background-color: var(--black);
  top: 0;
  transform: rotate(45deg);
  left: 0;
}

.close::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  background-color: var(--black);
  top: 0;
  left: 0;
  transform: rotate(-45deg);
}
