.orderDetailField {
  margin-top: 1rem;
  padding: 1rem 2rem;
  border: 0.1rem solid var(--light-grey);
  font-size: 1.5rem;
  border-radius: 0.7rem;
}

.orderAddressType {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.orderAddressAddress {
  color: var(--footer-text);
  margin-bottom: 2rem;
}

.orderAddressSub {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.orderAddressSub span {
  margin-left: 0.5rem;
  font-size: 1.4rem;
  color: var(--footer-text);
}

.orderDetailField .paymentStatus {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--light-grey);
  margin-right: 1rem;
  border-radius: 100%;
}

.orderDetailField .paymentStatus.completed{
    background-color: green;
}
