.orderProductDetails{
    padding: 3rem 2.5rem;
    border: .1rem solid var(--light-grey);
    border-radius: .5rem;
    font-size: 1.5rem;
}

.productImageBox{
    height: 12rem;
    width: 12rem;
}

.line{
    width: 100%;
    margin: auto;
    height: 1px;
    margin-top: 2rem;
    background-color: var(--light-grey);
}

.productDetails{
    margin-left: -2rem;
}

.productName{
    margin-bottom: .5rem;
    font-weight: 600;
}

.priceTitle{
    font-size: 1.8rem;
    font-weight: 700;
}

.priceValue{
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .1rem;
}