.statusCircle{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    z-index: 5;
    background-color: var(--light-grey);
}

.statusCircle.full{
    background-color: var(--orange);
}

.statusText{
    margin-top: .9rem;
    font-size: 1.4rem;
}

.statusLine{
    width: 8rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: var(--light-grey);
    margin: 0 -2.5rem;
    margin-bottom: 2.4rem;
    position: relative;
}

.statusLine::before{
    position: absolute;
    content: '';
    width: 50%;
    height: 100%;
    border-radius: 1rem;
    left: 0;
    top: 0;
    background-color: var(--light-grey);
}

.statusLine.half::before{
    background-color: var(--orange);
}

.statusLine.full, .statusLine.full::before{
    background-color: var(--orange);
}