.orders {
  padding: 3rem 3rem;
  border: 0.1rem solid var(--light-grey);
  border-radius: 0.5rem;
}

.ordersTitle {
  font-size: 2.5rem;
  font-weight: 600;
}

.orderFilterSearch {
  width: 30rem;
  height: 4rem;
  border: .1rem solid var(--light-grey);
  border-radius: .5rem;
  outline: none;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  background-color: var(--default-background);
}
