.pageBanner {
    margin: 2rem 0;
  height: 30rem;
  width: 100%;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../assets/images/pageBanner.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageBannerTitle{
    font-size: 5rem;
    color: var(--white);
    font-weight: 700;
    margin-bottom: 1rem;
}

.pageBannerBreadcrumbs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageBannerBreadcrumb{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--white);
}

.pageBannerBreadcrumb:last-child{
    font-weight: 800;
}