.productFilter {
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.appliedFiltersBox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.appliedFiltersItem {
  padding: 0.5rem 1.5rem;
  border: 0.5px solid var(--light-grey);
  border-radius: 0.5rem;
  font-size: 1.5rem;
  margin: 1rem;
}

.filterCategoryClear {
  font-size: 2rem;
  cursor: pointer;
}

.filterCategoryHeading {
  font-size: 2.8rem;
  font-weight: 600;
  margin: 2rem 0;
}

.filterCategoryListBox {
  border: 1px solid var(--light-grey);
  border-radius: 0.5rem;
}

.filterCategoryListItem {
  font-size: 1.9rem;
  padding: 2rem 2.5rem;
}

.filterCategoryListItem:not(:last-child) {
  border-bottom: 1px solid var(--light-grey);
}
