.productCardImage {
  height: 75%;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.addToCartCta {
  position: absolute;
  right: 5%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  color: var(--orange);
  border: 1px solid var(--orange);
  cursor: pointer;
  z-index: 2;
  transition: all .3s ease;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
}
.addToCartCta:hover{
    color: var(--white);
    background-color: var(--orange);
}

/* Lareg Product Styling */
.productLargeCard {
  width: 100%;
  height: 50vw;
  max-height: 80rem;
  position: relative;
  background-color: var(--white);
}

.productCardLargeDetails {
  padding: 3rem;
  position: relative;
}

.productCardLargeDetails .addToCartCta {
  height: 5rem;
  width: 5rem;
  font-size: 4rem;
}

.productLargeName {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  cursor: pointer;
}

.productLargeType {
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.productLargeRating {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.productLargeMrp {
  font-size: 1.8rem;
  margin-right: 0.9rem;
}

.productLargePrice {
  font-size: 2.5rem;
  font-weight: 600;
}
/* Small Product Styling */
.productSmallCard {
  width: 100%;
  height: 25vw;
  max-height: 40rem;
  position: relative;
  background-color: var(--white);
}

.productCardSmallDetails {
  padding: 1.5rem;
  position: relative;
}

.productCardSmallDetails .addToCartCta {
  height: 3.5rem;
  width: 3.5rem;
  font-size: 2.5rem;
}

.productSmallName {
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
}

.productSmallType {
  margin-right: 0.7rem;
}

.productSmallRating {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productSmallMrp {
  font-size: 1.2rem;
  margin-right: 0.9rem;
}

.productSmallPrice {
  font-size: 1.5rem;
  font-weight: 600;
}
