.productImage{
    position: relative;
    width: 100%;
    height: calc(35vw + 2rem);
}

.productOverview{
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
}

.productOverviewTitle{
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: .1rem;
    margin-bottom: 2rem;
}

.productOverviewMrp{
    font-size: 1.7rem;
    
}

.productOverviewPrice{
    font-size: 2.7rem;
}

.productOverviewQty{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 1rem 0;
    background-color: var(--white);
}

.productOverviewQtyCta{
    margin: 0 3rem;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    cursor: pointer;
    transition: all .3s ease;
}

.productOverviewQtyCta.disabled{
    cursor: not-allowed;
    color: var(--light-grey);
}

.checkBtn{
    height: 5.2rem;
    margin-top: 1.2rem;
}

.outlinedBtn{
    background-color: transparent;
    border: 1px solid var(--black);
    color: var(--black);
}

.whiteBtn{
    background-color: var(--white);
    color: var(--black);
}

.productOverviewTags{
    margin-top: 2.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.5rem;
}

.productOverviewTag{
    margin: 0 .5rem;
    padding: .4rem 1.2rem;
    font-size: 1.5rem;
    border: 1px solid var(--black);
    border-radius: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}