.wishlistCard {
  width: 100%;
  background-color: var(--white);
  border-radius: 1rem;
  display: flex;
  position: relative;
  align-items: center;
}

.remove {
  position: absolute;
  right: 1.2rem;
  top: 1.2rem;
  cursor: pointer;
  padding: 0.5rem;
}

.wishlistCardImage {
  height: 18rem;
  width: 18rem;
}

.wishlistCardImage img {
  border-radius: 1rem 0 0 1rem;
}

.productDetails {
  padding: 0 2rem;
}

.productName {
  font-size: 1.8rem;
  font-weight: 700;
}

.productType {
  margin-right: 1.5rem;
}

.productRatings {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productMrp {
  font-size: 1.4rem;
  margin-right: 0.9rem;
}

.productPrice {
  font-size: 1.8rem;
  font-weight: 600;
}
